
@import url('https://fonts.googleapis.com/css?family=Play');

body {
	margin: 0 auto;
	border: 1px solid black;
	width: 300px;
	height: 120px;
}

.controls {
	margin: 2px auto;
}

a, ul {

	font-family: 'Play';
	font-size: 40px;
	text-decoration: none;
	margin: 0 auto;
}

a {
	padding: 5px 30px;
	color: red;
}

ul {
	padding: 5px 70px;
}

